@import "../../constraint/variables.scss";
@import url('https://fonts.googleapis.com/css?family=Kanit');

.fixfixed .fixed-background { 
    position: absolute !important; 
}

.hover-reveal {
    opacity: 0;
    transition: all 0.2s;

    &:hover {
        opacity: 1;
    }

    &.active {
        opacity: 1;
    }
}

.full-size {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.parallax-page {
    background-color: $default-background;

    .diag-blue {
        @include diag-grad(rgb(77, 133, 224), #182C4D);
    }

    $width: 100vw;
    $heightRatio: 16/16;
    $heightRatio2: 10/16;
    $height: calc(#{$heightRatio}*#{$width});
    $height2: calc(#{$heightRatio2}*#{$width});
    $new_height: calc(173vw);
    $connectorWidth: 10px;
    $connectorSideWidth: 5px;
    $connectorPadding: 10px;
    $connectorKnobSize: 60px;
    $defaultConnectorColor: #21FFFF;
    $bulletSize: 10px;
    font-family: 'Kanit', Arial, Helvetica, sans-serif;

    ul.bullet-indicator {
        position: fixed;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        z-index: 100;
        list-style-type: none;

        li.bullet-page {
            color: #AAA;
            margin-bottom: 20px;
            &::before {
                opacity: 0.7;
                transition: all 0.3;
                content: " ";
                width: $bulletSize;
                height: $bulletSize;
                border-radius: 50%;
                background-color: #000;
                border: 2px solid rgba(255, 255, 255, 0.5);
                display: block;
                transform: translateX(-50%);
            }
            &:hover {
                filter: brightness(1.2);
                opacity: 0.8;
            }
            &:active {
                filter: brightness(0.8);
                &::before {
                    opacity: 1;
                }
            }
            &.active {
                &::before {
                    width: calc(1.5*#{$bulletSize});
                    height: calc(1.5*#{$bulletSize});
                    background-color: #000;
                    border: 2px solid #FFF;
                    opacity: 1;
                }
            }
        }
    }

    .indicator-page {
        &:not(.parallax-wrapper) {
            min-height: 500px;
        }
    }

    .control-zone {
        // background-color: rgba(255, 255, 255, 0.3);
        padding: 20px;
        width: 80%;
        position: relative;
        box-sizing: border-box;
        
        .top {
            z-index: 7;
            margin: 5px 0px;
            position: relative;
        }

        .bottom {
            display: flex;
            position: relative;
            z-index: 8;
            > * {
                margin-right: 5px;
            }
            > *:first-child {
                width: 140px;
                display: flex;
                flex-direction: column;
            }
            > *:last-child {
                flex: 1;
                margin-right: 0px;
            }
        }

        @media all and (max-width: 760px) {
            .bottom {
                flex-direction: column;
                > * {
                    margin-bottom: 5px;
                }
                > *:last-child {
                    margin-bottom: 0px;
                }
                > *:first-child {
                    flex-direction: row;
                    width: auto;
                    flex-wrap: wrap;
                    margin-right: 0px;
                }
            }
        }
    }

    @keyframes circularColor {
        0% { background: #F9A5DE;}
        50% { background: #8484F0;}
        100% { background: #FFBB77;}
    }
    @keyframes circularColor1 {
        0% { background: #8484F0;}
        50% { background: #FFBB77;}
        100% { background: #F9A5DE;}
    }
    @keyframes circularColor2 {
        0% { background: #FFBB77;}
        50% { background: #F9A5DE;}
        100% { background: #8484F0;}
    }

    .t-box {
        background-color: rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        margin: 0 auto;
        // min-width: 80vw;
        // max-width: 80vw;
        // // height: 30vw;
        padding: 10px;
        border-radius: 5px;
        padding: 30px;
    }

    .w-box {
        background-color: rgba(255, 255, 255, 1);
        padding: 20px;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    }

    .name-search-box {
        z-index: 8;
        * {
            margin: 5px 0px;
        }
    }

    .result-box {
        z-index: 8;
        max-width: 70vw;
        height: 80%;
        * {
            margin: 5px 0px;
        }
    }

    img.logo {
        width: 80vw;
        max-width: 600px;
    }

    .location {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 50px;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.15);

        img {
            width: 20vw;
            max-width: 250px;
            margin-right: 10px;
        }

        div {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            color: #FFF;
    
            h1 {
                display: inline-block;
                font-size: 7vw;
                margin: 0px;
            }

            span {
                flex: 1;
            }
        }
    }

    .result {
        padding: 20px 0px;
    }

    .inner-margin {
        > * {
            margin: 5px 0px;
        }
    }

    .note {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 80%;
        padding: 0px 10px;
    }

    @media all and (max-width: 480px) {
        .control-zone {
            padding: 0px;
            width: 100vw;
        }

        .result {
            padding: 0px;
        }
        
        .note {
            width: 100%;
            padding: 0px;
        }
    }
}