@import url("https://fonts.googleapis.com/css?family=Kanit");
.fixfixed .fixed-background {
  position: absolute !important;
}

.parallax-page {
  font-family: 'Kanit', Arial, Helvetica, sans-serif;
}

.parallax-page ul.bullet-indicator {
  position: fixed;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  z-index: 100;
  list-style-type: none;
}

.parallax-page ul.bullet-indicator li.bullet-page {
  color: #AAA;
  margin-bottom: 20px;
}

.parallax-page ul.bullet-indicator li.bullet-page::before {
  opacity: 0.7;
  transition: all 0.3;
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: block;
  transform: translateX(-50%);
}

.parallax-page ul.bullet-indicator li.bullet-page:hover {
  filter: brightness(1.2);
  opacity: 0.8;
}

.parallax-page ul.bullet-indicator li.bullet-page:active {
  filter: brightness(0.8);
}

.parallax-page ul.bullet-indicator li.bullet-page:active::before {
  opacity: 1;
}

.parallax-page ul.bullet-indicator li.bullet-page.active::before {
  width: calc(1.5*10px);
  height: calc(1.5*10px);
  background-color: #000;
  border: 2px solid #FFF;
  opacity: 1;
}

.parallax-page .parallax-wrapper {
  width: 100vw;
  height: calc(0.5*100vw);
  position: relative;
  display: block;
  margin: auto;
}

.parallax-page .parallax-wrapper .content-wrapper {
  position: absolute;
  clip: rect(0, 100vw, calc(0.5*100vw), 0);
}

.parallax-page .parallax-wrapper .content-wrapper .overlay-background {
  position: absolute;
  width: 100vw;
  height: calc(0.5*100vw);
  z-index: 5;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
}

.parallax-page .parallax-wrapper .content-wrapper .fixed-background {
  transform: translate3d(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}

.parallax-page .parallax-wrapper .content-wrapper .fixed-background .fullscreen-bg-video {
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: -100;
}

.parallax-page .parallax-wrapper .content-wrapper .fixed-background .fullscreen-bg-video video {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.parallax-page .parallax-wrapper .content-wrapper .fixed-background.bg1 {
  background-image: url("static/images/bg1.jpg");
}

.parallax-page .parallax-wrapper .content-wrapper .fixed-background.bg2 {
  background-image: url("static/images/bg2.jpg");
}

.parallax-page .parallax-wrapper .content-wrapper .fixed-background.bg3 {
  background-image: url("static/images/bg3.png");
}

.parallax-page .parallax-wrapper .content-wrapper .foreground {
  position: absolute;
  width: 100vw;
  height: calc(0.5*100vw);
  z-index: 8;
  box-sizing: border-box;
}

.parallax-page .parallax-wrapper .control-zone {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 20px;
}

.parallax-page .parallax-wrapper .control-zone > * {
  margin: 10px 0px;
}

.parallax-page .parallax-wrapper .connector {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 6;
  width: 10px;
  height: calc(0.5*100vw);
  opacity: 0.5;
  transition: opacity 0.2s;
  background: #21FFFF;
  animation: none;
}

.parallax-page .parallax-wrapper .connector > .knob {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #21FFFF;
  position: absolute;
  z-index: 7;
}

.parallax-page .parallax-wrapper .connector > .knob.top {
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parallax-page .parallax-wrapper .connector > .knob.bottom {
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 50%);
}

.parallax-page .parallax-wrapper .connector.active {
  opacity: 1;
  animation: 3s infinite alternate circularColor;
}

.parallax-page .parallax-wrapper .connector.active > .knob {
  animation: 3s infinite alternate circularColor;
}

.parallax-page .parallax-wrapper .connector.active::before {
  animation: 3s infinite alternate circularColor1;
}

.parallax-page .parallax-wrapper .connector.active::after {
  animation: 3s infinite alternate circularColor2;
}

.parallax-page .parallax-wrapper .connector::before, .parallax-page .parallax-wrapper .connector::after {
  content: " ";
  position: absolute;
  transform: translateX(calc(-1*10px));
  z-index: 6;
  width: 5px;
  height: calc(0.5*100vw);
  background-color: #21FFFF;
  animation: none;
}

.parallax-page .parallax-wrapper .connector::after {
  transform: translateX(calc(10px + 10px - 5px));
}

.parallax-page .parallax-wrapper .connector.diff {
  transform: translate(-50%, calc((0.625)/(0.5 + 0.625)*100%));
  height: calc((calc(0.5*100vw) + calc(0.625*100vw))/2);
}

.parallax-page .parallax-wrapper .connector.diff::before, .parallax-page .parallax-wrapper .connector.diff::after {
  height: calc((calc(0.5*100vw) + calc(0.625*100vw))/2);
}

@keyframes circularColor {
  0% {
    background: #F9A5DE;
  }
  50% {
    background: #8484F0;
  }
  100% {
    background: #FFBB77;
  }
}

@keyframes circularColor1 {
  0% {
    background: #8484F0;
  }
  50% {
    background: #FFBB77;
  }
  100% {
    background: #F9A5DE;
  }
}

@keyframes circularColor2 {
  0% {
    background: #FFBB77;
  }
  50% {
    background: #F9A5DE;
  }
  100% {
    background: #8484F0;
  }
}

.parallax-page .t-box {
  background-color: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  padding: 30px;
}

.parallax-page .w-box {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: calc(600px + 52.3px + 20px);
  width: calc(60vw);
}

.parallax-page .name-search-box {
  z-index: 8;
  max-width: 70vw;
  max-width: calc(600px + 52.3px + 20px);
  width: calc(60vw);
}

.parallax-page .name-search-box * {
  margin: 5px 0px;
}

.parallax-page .result-box {
  z-index: 8;
  max-width: 70vw;
  height: 80%;
}

.parallax-page .result-box * {
  margin: 5px 0px;
}

.parallax-page img.logo {
  width: 80vw;
  max-width: 600px;
}

.parallax-page div.parallax-wrapper.height2 {
  height: calc(0.625*100vw);
}

.parallax-page div.parallax-wrapper.height2 div.content-wrapper {
  clip: rect(0, 100vw, calc(0.625*100vw), 0);
}

.parallax-page div.parallax-wrapper.height2 div.content-wrapper .overlay-background {
  height: calc(0.625*100vw);
}

.parallax-page div.parallax-wrapper.height2 div.content-wrapper .foreground {
  height: calc(0.625*100vw);
}

@media all and (max-width: 700px) and (min-width: 481px) {
  .parallax-page div.parallax-wrapper {
    height: calc(0.6875*100vw) !important;
  }
  .parallax-page div.parallax-wrapper div.content-wrapper {
    clip: rect(0, 100vw, calc(0.6875*100vw), 0) !important;
  }
  .parallax-page div.parallax-wrapper div.content-wrapper .overlay-background {
    height: calc(0.6875*100vw) !important;
  }
  .parallax-page div.parallax-wrapper div.content-wrapper .foreground {
    height: calc(0.6875*100vw) !important;
  }
  .parallax-page div.parallax-wrapper .connector {
    height: calc(0.6875*100vw) !important;
  }
  .parallax-page div.parallax-wrapper .connector::before, .parallax-page div.parallax-wrapper .connector::after {
    height: calc(0.6875*100vw) !important;
  }
  .parallax-page div.parallax-wrapper .connector.diff {
    transform: translate(-50%, calc((0.625)/(0.6875 + 0.625)*100%));
    height: calc((calc(0.6875*100vw) + calc(0.625*100vw))/2);
  }
  .parallax-page div.parallax-wrapper .connector.diff::before, .parallax-page div.parallax-wrapper .connector.diff::after {
    height: calc((calc(0.6875*100vw) + calc(0.625*100vw))/2);
  }
}

@media all and (max-width: 480px) {
  .parallax-page .t-box {
    min-width: 90vw;
    max-width: 90vw;
    height: calc(0.7*calc(173vw));
  }
  .parallax-page div.parallax-wrapper {
    height: calc(173vw) !important;
  }
  .parallax-page div.parallax-wrapper div.content-wrapper {
    clip: rect(0, 100vw, calc(173vw), 0) !important;
  }
  .parallax-page div.parallax-wrapper div.content-wrapper .overlay-background {
    height: calc(173vw) !important;
  }
  .parallax-page div.parallax-wrapper div.content-wrapper .foreground {
    height: calc(173vw) !important;
  }
  .parallax-page div.parallax-wrapper .connector {
    height: calc(173vw) !important;
  }
  .parallax-page div.parallax-wrapper .connector::before, .parallax-page div.parallax-wrapper .connector::after {
    height: calc(173vw) !important;
  }
}
