@import url("https://fonts.googleapis.com/css?family=Kanit");
.fixfixed .fixed-background {
  position: absolute !important;
}

.hover-reveal {
  opacity: 0;
  transition: all 0.2s;
}

.hover-reveal:hover {
  opacity: 1;
}

.hover-reveal.active {
  opacity: 1;
}

.full-size {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.parallax-page {
  background-color: #182C4D;
  font-family: 'Kanit', Arial, Helvetica, sans-serif;
}

.parallax-page .diag-blue {
  background: #4d85e0;
  background: -webkit-linear-gradient(left top, #4d85e0, #182C4D);
  background: -o-linear-gradient(bottom right, #4d85e0, #182C4D);
  background: -moz-linear-gradient(bottom right, #4d85e0, #182C4D);
  background: linear-gradient(to bottom right, #4d85e0, #182C4D);
}

.parallax-page ul.bullet-indicator {
  position: fixed;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  z-index: 100;
  list-style-type: none;
}

.parallax-page ul.bullet-indicator li.bullet-page {
  color: #AAA;
  margin-bottom: 20px;
}

.parallax-page ul.bullet-indicator li.bullet-page::before {
  opacity: 0.7;
  transition: all 0.3;
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: block;
  transform: translateX(-50%);
}

.parallax-page ul.bullet-indicator li.bullet-page:hover {
  filter: brightness(1.2);
  opacity: 0.8;
}

.parallax-page ul.bullet-indicator li.bullet-page:active {
  filter: brightness(0.8);
}

.parallax-page ul.bullet-indicator li.bullet-page:active::before {
  opacity: 1;
}

.parallax-page ul.bullet-indicator li.bullet-page.active::before {
  width: calc(1.5*10px);
  height: calc(1.5*10px);
  background-color: #000;
  border: 2px solid #FFF;
  opacity: 1;
}

.parallax-page .indicator-page:not(.parallax-wrapper) {
  min-height: 500px;
}

.parallax-page .control-zone {
  padding: 20px;
  width: 80%;
  position: relative;
  box-sizing: border-box;
}

.parallax-page .control-zone .top {
  z-index: 7;
  margin: 5px 0px;
  position: relative;
}

.parallax-page .control-zone .bottom {
  display: flex;
  position: relative;
  z-index: 8;
}

.parallax-page .control-zone .bottom > * {
  margin-right: 5px;
}

.parallax-page .control-zone .bottom > *:first-child {
  width: 140px;
  display: flex;
  flex-direction: column;
}

.parallax-page .control-zone .bottom > *:last-child {
  flex: 1;
  margin-right: 0px;
}

@media all and (max-width: 760px) {
  .parallax-page .control-zone .bottom {
    flex-direction: column;
  }
  .parallax-page .control-zone .bottom > * {
    margin-bottom: 5px;
  }
  .parallax-page .control-zone .bottom > *:last-child {
    margin-bottom: 0px;
  }
  .parallax-page .control-zone .bottom > *:first-child {
    flex-direction: row;
    width: auto;
    flex-wrap: wrap;
    margin-right: 0px;
  }
}

@keyframes circularColor {
  0% {
    background: #F9A5DE;
  }
  50% {
    background: #8484F0;
  }
  100% {
    background: #FFBB77;
  }
}

@keyframes circularColor1 {
  0% {
    background: #8484F0;
  }
  50% {
    background: #FFBB77;
  }
  100% {
    background: #F9A5DE;
  }
}

@keyframes circularColor2 {
  0% {
    background: #FFBB77;
  }
  50% {
    background: #F9A5DE;
  }
  100% {
    background: #8484F0;
  }
}

.parallax-page .t-box {
  background-color: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  padding: 30px;
}

.parallax-page .w-box {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.parallax-page .name-search-box {
  z-index: 8;
}

.parallax-page .name-search-box * {
  margin: 5px 0px;
}

.parallax-page .result-box {
  z-index: 8;
  max-width: 70vw;
  height: 80%;
}

.parallax-page .result-box * {
  margin: 5px 0px;
}

.parallax-page img.logo {
  width: 80vw;
  max-width: 600px;
}

.parallax-page .location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.15);
}

.parallax-page .location img {
  width: 20vw;
  max-width: 250px;
  margin-right: 10px;
}

.parallax-page .location div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #FFF;
}

.parallax-page .location div h1 {
  display: inline-block;
  font-size: 7vw;
  margin: 0px;
}

.parallax-page .location div span {
  flex: 1;
}

.parallax-page .result {
  padding: 20px 0px;
}

.parallax-page .inner-margin > * {
  margin: 5px 0px;
}

.parallax-page .note {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
  padding: 0px 10px;
}

@media all and (max-width: 480px) {
  .parallax-page .control-zone {
    padding: 0px;
    width: 100vw;
  }
  .parallax-page .result {
    padding: 0px;
  }
  .parallax-page .note {
    width: 100%;
    padding: 0px;
  }
}
